p {color:red}

body {
    font-family:sans-serif;
    font-weight: 300;
    color:darkgray
}

h1 {font-family: sans-serif;
text-transform: uppercase;
letter-spacing: 4px;
color:darkslategray
}
/*logo */

#logo {
    float:left;
    font-size:275%;
    margin-left: 30px;
    margin-top: 7px;
    align-items: center;
}

/* navigation links */

#menu {
    font-size: 120%;
    letter-spacing: 4px;
    align-items: center;
}

#menu, #logo {
    line-height: 60px;
}

#menu li {
    float: right;
    list-style-type:none;
    margin-right: 60px;
}

#menu a {
    text-decoration:none;
    color:darkgray;
}

#menu a:hover {
    text-decoration-line: underline;
}

.active {
    border-bottom: 1px solid darkgrey;
    color:#404040;
}


/* footer */
footer {
    height: 120px;

}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#d3d3d3;
  color:rgb(153, 153, 210);
  text-align: center;

}

.social-networks{
    text-align: center;
    margin:20px auto;
}

.social-networks > li {
    display: inline;
    align-items: center;
}

.social-networks i {
    font-size: 130%;
    margin: 1%;
    padding: 5%;
    color:#7578ae;

}