p {color:red}

body {
    font-family:sans-serif;
    font-weight: 300;
    color:darkgray;
    margin-bottom: 90px;
    max-width: 100%;
}

h1 {font-family: sans-serif;
text-transform: uppercase;
letter-spacing: 4px;
color:darkslategray
}
/*logo */

#logo {
    float:left;
    font-size:275%;
    margin-left: 150px;
    margin-top: 7px;
    align-items: center;
}

/* navigation links */

#menu {
    font-size: 120%;
    letter-spacing: 2px;
    align-items: center;
}

#menu, #logo {
    line-height: 60px;
}

#menu li {
    float: right;
    list-style-type:none;
    margin-right: 60px;
}

#menu a {
    text-decoration:none;
    color:darkgray;
}

#menu a:hover {
    text-decoration-line: underline;
}

.active {
    border-bottom: 1px solid darkgrey;
    color:#404040;
}


/* footer */
footer {
    height: 80px;

}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#d3d3d3;
  color:rgb(153, 153, 210);
  text-align: center;

}

.social-networks{
    text-align: center;
    margin:20px auto;
}

.social-networks > li {
    display: inline;
    align-items: center;
}

.social-networks i {
    font-size: 130%;
    margin: 1%;
    padding: 1%;
    color:#7578ae;

}

/*hero image and cover text */
#cover-text, #cover-text h2 {
    color:#d3d3d3
}

#hero-outer-one {
    height: 600px;
    width:100%;
    overflow: hidden;
    position: relative;
}

#hero-image-one {
    height: 600px;
    width:100%;
    background: url(../images/meditation\ at\ home.jpg) no-repeat center center;

/* animates zoom effect on home page */
animation-name: hero-zoom;
animation-duration: 6s;
animation-fill-mode: forwards;
}

/* creates the level of zoom for hero images */
@keyframes hero-zoom {
    from{transform: scale(1);}
    to{transform: scale(1.2);}
}

/* cover text box */

#cover-text {
    font-size: 110%;
    font-family: sans-serif;
    text-align: center;
    
width: 400px;
height: 175px;

background-color: rgb(156, 97, 156,0.6);

bottom:30px;
left:180px;
position: absolute;
}

/* stress section styling */
 #stress {
    color:rgb(54, 53, 53);
    margin:auto;
    background-color: rgb(136, 192, 211,.5);
    max-width:100%;
    padding:10px;
    margin-top:5px;
 }

#stress-header {
    margin: 10px 20px;
    color:rgb(54, 53, 53);
}