

body {
    font-family:sans-serif;
    font-weight: 300;
    color:black;
    margin-bottom: 100px;
    max-width: 100%;
}
h1 {font-family: sans-serif;
text-transform: uppercase;
letter-spacing: 4px;
color:darkslategray
}
/*logo */
#logo {
    float:left;
    font-size:275%;
    margin-left: 20px;
    margin-top: 7px;
    align-items: center;
}
/* navigation links */
#menu {
    font-size: 120%;
    letter-spacing: 2px;
    align-items: center;
}
#menu, #logo {
    line-height: 60px;
}
#menu li {
    float: right;
    list-style-type:none;
    margin-right: 60px;
}
#menu a {
    text-decoration:none;
    color:darkgray;
}
#menu a:hover {
    text-decoration-line: underline;
}
.active {
    border-bottom: 1px solid darkgrey;
    color:#404040;
}
/* footer */
footer {
    height: 80px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#d3d3d3;
  color:rgb(153, 153, 210);
  text-align: center;
}
.social-networks{
    text-align: center;
    margin:20px auto;
}
.social-networks > li {
    display: inline;
    align-items: center;
}
.social-networks i {
    font-size: 130%;
    margin: 1%;
    padding: 1%;
    color:#7578ae;
}
/*hero image and cover text */
#cover-text, #cover-text h2 {
    color:#d3d3d3
}
#hero-outer-one {
    height: 600px;
    width:100%;
    overflow: hidden;
    position: relative;
}
#hero-image-one {
    clear: both;
    height: 600px;
    width:100%;
    background: url(../images/meditation\ at\ home.jpg) no-repeat center center;
/* animates zoom effect on home page */
animation-name: hero-zoom;
animation-duration: 6s;
animation-fill-mode: forwards;
}
/* creates the level of zoom for hero image 1 */
@keyframes hero-zoom {
    from{transform: scale(1);}
    to{transform: scale(1.2);}
}
/* cover text box */
#cover-text {
    font-size: 110%;
    font-family: sans-serif;
    text-align: center;
    
width: 400px;
height: 175px;
background-color: rgb(156, 97, 156,0.6);
bottom: 25px;
left: 75px;
position: absolute;
}

/* stress section styling */
 #stress {
    color:rgb(54, 53, 53);
    margin:auto;
    background-color: rgb(136, 192, 211,.5);
    width:100%;
    padding:10px;
    margin-top:5px;   
    
 }
section p {
    color:rgb(128, 122, 122);
 }
#stress-header {
    margin: 10px 10px;
    color:rgb(54, 53, 53);  
}
#stress-pic {
    background-image: url(../images/stressed\ man.jpg);
    height: 280px;
    width:300px;
    float:left;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align:center;
    
}
/*picture panel on home page */
#pic-one {
    width: 300px;
    height:250px;
    background: url(../images/woman\ making\ smoothie.jpg) no-repeat center;
    background-size: contain;
    align-content: center;
    margin-left:10px;
    
  
}
#pic-two {
    width: 300px;
    height:250px;
    background: url(../images/three\ women\ hiking.jpg) no-repeat center;
    background-size: contain;
    align-content: center;
    margin-left:10px;
}
#pic-three {
    width: 300px;
    height:250px;
    background: url(../images/man\ sleeping.webp) no-repeat center;
    background-size: contain;
    align-content: center;
    margin-left:10px;
}
#pic-four {
    width: 300px;
    height:250px;
    background: url(../images/three\ woman\ yoga\ stretch.jpeg) no-repeat center;
    background-size: contain;
    align-content: center;
    margin-left:10px;
}
#picture-panel {
    width:100%;
    font-family: sans-serif;
    font-size:30px;
    float:none;
    text-align: center;
}
table {
    margin:10px;
}
table td {
    align-content: center;
}
/*hero image 2 on mind page and cover text */
#cover-text, #cover-text h2 {
    color:#d3d3d3
}
#hero-outer-two {
    clear:both;
    height: 600px;
    width:100%;
    overflow: hidden;
    position: relative;
}
#hero-image-two {
    height: 600px;
    width:100%;
    background: url(../images/hike\ photo\ 1.jpg) no-repeat center center;
/* animates zoom effect on home page */
animation-name: hero-zoom;
animation-duration: 6s;
animation-fill-mode: forwards;
}
/* creates the level of zoom for hero image 2 */
@keyframes hero-zoom {
    from{transform: scale(1);}
    to{transform: scale(1.2);}
}
/* cover text two box */
#cover-text-two {
    font-size: 110%;
    font-family: sans-serif;
    text-align: center;
    color:black;
    margin: 20px;
    
width: 300px;
height: 160px;
background-color: rgba(214, 150, 52, 0.6);
top: 60px;
left: 150px;
position: absolute;
}

/* nature paragraph */
    #nature {
    color:black;
    margin:auto;
    background-color: rgba(112, 190, 92, 0.5);
    width:100%;
    padding:5px;
    }
    /*light paragraph */
    #light {
        color:black;
        margin:auto;
        background-color: rgba(240, 238, 137, 0.829);
        width:100%;
        padding:5px;
        }
        #light-pic {
            background: url(../images/woman\ next\ to\ sunny\ window.jpg) no-repeat center center;
            height:200px;
            width: 250px;
            background-size: contain;
            float:none;
            display:inline-block;
        }
        #lamp-pic {
            background: url(../images/woman\ with\ sad\ lamp.jpg) no-repeat;
            height:200px;
            width: 250px;
            background-size: contain;
            float:none;
            display: inline-block;
        } 
    /*sleep paragraph */   
    
    #sleep {
            color:black;
            margin:auto;
            background-color: rgba(159, 161, 241, 0.829);
            width:100%;
            padding:5px;
            }
    #sleep-pic {
        background: url(../images/healthy\ sleep\ habits.webp) no-repeat center center;
            height:200px;
            width: 250px;
            background-size: contain;
            float:none;
            display: inline-block;
    }
    /* yoga paragraph */
     #yoga {
        color:black;
            margin:auto;
            background-color: rgba(208, 159, 241, 0.829);
            width:100%;
            padding:5px;
     }
     /* body page */
     /*exercise section */
     #exercise {
        clear: both;
        color:black;
        background-color: rgba(232, 144, 50, 0.829);
        width:100%;
        padding:5px;
        vertical-align: top;

     }
     #plank-pic {
        background: url(../images/man\ planking\ at\ home.jpg) no-repeat center center;
            height: 240px;
            width:300px;
            background-size: contain;
            float:none;
            display:block;
            margin: 5px;
     }
     #sweaty-woman-pic {
        background: url(../images/woman\ sweaty\ from\ run.jpg) no-repeat center center;
            height: 240px;
            width:300px;
            background-size: contain;
            float:none;
            display: block;
            margin: 5px;
     }
     #woman-stretching-pic {
        background: url(../images/woman\ stretching\ at\ home.jpg) no-repeat center center;
            height: 240px;
            width:300px;
            background-size: contain;
            float:none;
            display: block;
            margin: 5px;
     }
     #heavy-exercise {
        color:black;
        margin:auto;
        background-color: rgba(230, 76, 49, 0.8);
        width:100%;
        padding:5px;
        clear: both;
     }
     #light-exercise {
        color:black;
        margin:auto;
        background-color: rgba(232, 223, 131, 0.829);
        width:100%;
        padding:5px;
        clear: both;
     }
            
     #bloat {
        color:black;
        margin:auto;
        background-color: rgba(113, 203, 223, 0.829);
        width:100%;
        padding:5px;
        clear: both;
     }
     #bloat-pic {
        background: url(../images/belly\ bloat.jpg) no-repeat center center;
            height: 250px;
            width:300px;
            background-size: contain;
            float:none;
            display: inline-block;
     }
     
     #drinking-water-pic {
        background: url(../images/drinking\ water.jpg) no-repeat center center;
            height: 250px;
            width:300px;
            background-size: contain;
            float:none;
            display: inline-block;
     }

     iframe {
        margin:15px;
     } 
